[submodule "deps/sfml"]
	path = deps/sfml
	url = https://github.com/SFML/SFML.git
[submodule "deps/SimplexNoise"]
	path = deps/SimplexNoise
	url = https://github.com/SRombauts/SimplexNoise.git
[submodule "deps/flecs"]
	path = deps/flecs
	url = https://github.com/SanderMertens/flecs
